.footer {
  background-color: map-get($gray, 600);
  padding-top: pxToRem(72);

  a {
    color: $white;
    text-decoration: none;
  }

  &__navItem {
    margin-bottom: pxToRem(20);
    @include fluid-type($small);
    
    a {
      color: map-get($gray, 100);
    }
  }

  &__sub {
    @include fluid-type($small);
    margin-top: pxToRem(100);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid map-get($gray, 400 );

    @include bp-up('md') {
      grid-column: span 12;
    }
  }
}

.sn {
  display: flex;
  &__item {
    padding: pxToRem(10) pxToRem(20);
  }
}
